.todo-emporium {
    margin: auto;
    max-width: 1024px;
    height: 100%;
    background-color: lightgray;
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: auto auto 1fr;
    row-gap: 0 24px;
    padding: 0 8px;

    .todo-emporium-title {
        color: slategray;
        font-weight: 900;
        font-size: 32px;
        text-transform: uppercase;
        text-align: center;
    }

    .todo-emporium-header {
        display: grid;
        grid-auto-flow: column;

        .header-link {
            background-color: slategray;
            box-shadow: 2px 2px 4px rgba(112, 128, 144, 0.623);
            color: white;
            text-decoration: none;
            text-align: center;
            border-radius: 8px;
            margin: 8px;
            padding: 8px;

            &:hover {
                background-color: rgb(slategray, 0.8);
            }
        }
    }

    .todo-emporium-body {
        display: grid;
    }
}
