.new-todo {
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: 1fr 2fr 1fr auto;

    .add-button {
        max-height: 32px;
        border: none;
        border-radius: 4px;
        background-color: slategray;
        box-shadow: 2px 2px 4px rgba(112, 128, 144, 0.623);
        color: white;
        text-decoration: none;
        text-align: center;
        border-radius: 8px;
        margin: 8px;
        padding: 8px;
        cursor: pointer;

        &:hover {
            background-color: rgb(slategray, 0.8);
        }
    }
}
